@import "~styles/mixins";

$text-color-pannel: #4a4a4a;

.tab-pannel {
  text-align: center;
  color: $text-color-pannel;
  font-size: 36px;
  font-weight: 300;
  line-height: 45px;

  div {
    padding: 20px;
  }
}
